table {
    margin: 0px auto;
    table-layout: fixed;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
}

h1,
h2,
p {
    text-align: center;
}

th,
td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

h1,
h2,
p {
    text-align: center;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}